GOOGLE_CLIENT_ID=your-google-oauth-client-id.apps.googleusercontent.com
RECAPTCHA_SECRET_KEY=your-recaptcha-secret-key
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USE_TLS=true
EMAIL_HOST_USER=your-mailtrap-username
EMAIL_HOST_PASSWORD=your-mailtrap-password
DEFAULT_FROM_EMAIL=no-reply@dilgorithm.local
